<?xml version="1.0"?>
<robot name="bot2/fyp_bot" xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Definations -->
	<xacro:property name="base_radius" value="0.095"/>
	<xacro:property name="base_thickness" value="0.001"/>
	<xacro:property name="lidar_radius" value="0.03"/>
	<xacro:property name="lidar_height" value="0.03"/>
	<xacro:property name="spacer_height" value="0.05"/>

	<!-- Robot Definition -->
	<link name="bot2/base_link">
		<visual>
			<geometry>
				<cylinder radius="${base_radius}" length="${base_thickness}"/>
			</geometry>
			<material name="Gray">
				<color rgba="0.5 0.5 0.5 1.0"/>
			</material>
		</visual>
	</link>

	<link name="bot2/base_footprint"/>

	<joint name="base_joint" type="fixed">
		<parent link="bot2/base_link"/>
		<child link="bot2/base_footprint"/>
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	</joint>

	<link name="bot2/laser_link">
		<visual>
			<geometry>
				<cylinder radius="${lidar_radius}" length="${lidar_height}"/>
			</geometry>
			<material name="Blue">
				<color rgba="0.0 0.0 1.0 1.0"/>
			</material>
		</visual>
	</link>

	<joint name="laser_joint" type="fixed">
		<parent link="bot2/base_link"/>
		<child link="bot2/laser_link"/>
		<origin xyz="0.0 0.0 ${((spacer_height*2)+base_thickness+(lidar_height/2))}" rpy="0 0 0"/>
	</joint>

	<link name="bot2/middle_link">
		<visual>
			<geometry>
				<cylinder radius="${base_radius}" length="${base_thickness}"/>
			</geometry>
			<material name="Gray">
				<color rgba="0.5 0.5 0.5 1.0"/>
			</material>
		</visual>
	</link>

	<link name="bot2/top_link">
		<visual>
			<geometry>
				<cylinder radius="${base_radius}" length="${base_thickness}"/>
			</geometry>
			<material name="Gray">
				<color rgba="0.5 0.5 0.5 1.0"/>
			</material>
		</visual>
	</link>

	<joint name="middle_joint" type="fixed">
		<parent link="bot2/base_link"/>
		<child link="bot2/middle_link"/>
		<origin xyz="0.0 0.0 ${spacer_height}" rpy="0 0 0"/>
	</joint>

	<joint name="top_joint" type="fixed">
		<parent link="bot2/middle_link"/>
		<child link="bot2/top_link"/>
		<origin xyz="0.0 0.0 ${spacer_height}" rpy="0 0 0"/>
	</joint>
</robot>